/*----------------------
    Services Page
----------------------*/

.client-slider {
  margin-top: -10px;
}

.client-slider .owl-item.active.center .client-slider-item {
  -webkit-box-shadow: 0px 10px 40px #97a1b238;
  box-shadow: 0px 10px 40px #97a1b238;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.client-slider .client-slider-item {
  padding: 20px 45px 37px 45px;
  -webkit-box-shadow: 0px 2px 12px #97a1b21a;
  box-shadow: 0px 2px 12px #97a1b21a;
  border-radius: 6px;
  margin: 0;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;
}

.client-slider .client-slider-item .media img {
  width: auto !important;
  padding-right: 7px;
}

.client-slider .client-slider-item .media .media-body {
  margin-top: 32px;
}

.client-slider .client-slider-item .media .media-body h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #01358d;
}

.client-slider .client-slider-item .media .media-body p {
  font-size: var(--body-font-size);
  line-height: var(--line-height30);
  letter-spacing: 0.42px;
  color: #5b6880;
}

.client-slider .client-slider-item .client-content {
  font-size: var(--body-font-size);
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #5b6880;
  margin-left: 20px;
}

.client-slider .owl-dots {
  text-align: center;
  line-height: initial;
}

.client-slider .owl-dots .owl-dot {
  width: 16px;
  height: 8px;
  background: #97a1b3;
  display: inline-block;
  margin: 0 4px;
  border-radius: 7px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.client-slider .owl-dots .owl-dot.active {
  width: 60px;
  height: 8px;
  background: #01358d;
}
