/*----------------------------------------------
    ## App
----------------------------------------------*/

.app-area {
  .app-inner {
    .title {
      margin-bottom: 30px;
    }
  }
  .btn-wrapper {
    margin: 45px 0 35px;
    .btn-appstore {
      margin-right: 15px;
    }
  }
  .hover {
    a {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      line-height: 34px;
      padding-left: 2px;
      border: 2px solid #377dff;
      color: $color-blue-3;
      background: #fff;
      font-size: 15px;
      display: inline-block;
      text-align: center;
      margin-right: 22px;
      i {
        padding-left: 3px;
      }
    }
    span {
      font-size: 16px;
      letter-spacing: 0.32px;
      color: $color-blue-3;
      font-weight: 500;
    }
  }
  .banner-thumbnail {
    margin-top: 130px;
  }
}
