/*----------------------------------------------
    ## All section style
----------------------------------------------*/
/*********** money-option-area style **************/
.money-option-area {
  background: url(../img/intro/bg.png);
  padding-top: 127px;
  margin-bottom: 217px;
  background-position: center;
  background-size: 130% 101%;
  background-repeat: no-repeat;
}
.single-work {
  box-shadow: 0px 5px 10px 0px rgba(204, 204, 204, 0.46);
  background: $color-white;
  position: relative;
  padding: 74px 20px 40px;
  margin-bottom: -50%;
  transition: $transition;
  &:hover {
    box-shadow: 0px 25px 40px 0px rgba(204, 204, 204, 0.46);
  }
  .work-icon {
    box-shadow: 0px 8px 32px 0px rgba(204, 204, 204, 0.17);
    background: $color-white;
    height: 90px;
    width: 107px;
    position: absolute;
    margin-left: -53px;
    line-height: 90px;
    left: 50%;
    top: -45px;
  }
  h5 {
    color: $color-blue-2;
    font-weight: 700;
    margin-bottom: 11px;
  }
  p {
    color: $color-gray;
    margin-bottom: 26px;
  }
}
/*********** about-us-area style **************/
.about-us-area {
  background: #fcfcfc;
  .about-us-video {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: $color-blue;
      top: 0px;
      left: 0px;
    }
    img.thumb {
      margin: 40px 0 40px 40px;
      position: relative;
    }
    .play-btn {
      margin-top: -45px;
      -webkit-animation: pulse 2s ease-out;
      -webkit-animation-iteration-count: infinite;
      display: inline-block;
      background: $color-white;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 108px;
      width: 108px;
      border-radius: 50%;
      line-height: 108px;
      text-align: center;
      &:before {
        content: '';
        position: absolute;
        background: $color-white;
        top: -14px;
        left: -13px;
        height: 134px;
        width: 134px;
        border-radius: 50%;
        opacity: 0.3;
      }
    }
  }
  .about-us-details {
    .section-title {
      margin-bottom: 0;
    }
    .section-title .title {
      margin-bottom: 21px;
    }
    .section-title p {
      color: $color-gray;
    }
    .media {
      align-items: center;
      margin-bottom: 30px;
      .media-left {
        width: 79px;
        height: 79px;
        border-radius: 4px;
        text-align: center;
        line-height: 79px;
        margin-right: 25px;
      }
      .media-body {
        p {
          color: $color-gray;
          margin-bottom: 0;
        }
      }
      &.media-1 {
        .media-left {
          background: $color-blue-3;
        }
      }
      &.media-2 {
        .media-left {
          background: $color-blue;
        }
      }
    }
    .btn {
      padding: 0 50px;
      margin-top: 10px;
    }
    .btn-underline {
      color: $color-black;
      font-weight: 600;
      font-size: 16px;
      border-bottom: 1px solid $color-black;
      margin-left: 36px;
      transition: $transition;
      padding-bottom: 4px;
      font-family: var(--heading-font);
    }
  }
}
/*********** service-area style **************/
.single-service {
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.46);
  background: $color-white;
  padding: 32px;
  margin-bottom: 30px;
  transition: $transition;
  &:hover {
    background: $color-blue-3;
    .service-details h5 {
      color: $color-white;
    }
    .service-details p {
      color: $color-white;
    }
  }
  .thumb {
    box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.32);
    display: inline-block;
    height: 90px;
    width: 107px;
    text-align: center;
    line-height: 90px;
    background: $color-white;
  }
  .service-details {
    h5 {
      font-family: var(--heading-font);
      font-weight: 600;
      color: $color-black;
      margin: 34px 0 15px;
      a {
      }
    }
    p {
      color: $color-gray;
      margin-bottom: 32px;
      transition: $transition;
    }
  }
}
.service-area-2 {
  .single-service:hover {
    background: $color-pink;
  }
}
/*********** pricing-area style **************/
.pricing-area {
  background: #fafafa;
  padding: 98px 0 70px;
}
.single-price {
  box-shadow: 0px 12px 24.3px 2.7px rgba(238, 238, 238, 0.78);
  transition: $transition;
  margin-bottom: 30px;
  &:hover {
    background: $color-blue;
    .pricing-details {
      background: $color-blue-4;
    }
    .pricing-list li a {
      color: $color-white;
    }
  }
  .pricing-details {
    background: $color-blue-3;
    padding: 40px 0;
    border-radius: 5px 5px 0 0;
    transition: $transition;
    .pricing-cost {
      color: $color-white;
      font-weight: 700;
      font-size: 36px;
      font-family: var(--heading-font);
      margin-bottom: 2px;
    }
    .pricing-subtitle {
      color: $color-white;
      font-size: 14px;
      font-weight: 500;
      font-family: var(--heading-font);
      position: relative;
      display: inline-block;
      padding-bottom: 17px;
      &:after {
        position: absolute;
        content: '';
        bottom: 0;
        height: 2px;
        width: 200px;
        background: $color-white;
        left: -50%;
        margin-left: -25px;
      }
    }
    .pricing-title {
      color: $color-white;
      font-size: 24px;
      font-weight: 500;
      font-family: var(--heading-font);
      margin-bottom: 3px;
    }
  }
  .pricing-list {
    list-style: none;
    margin: 0;
    padding: 42px 0 49px;
    li {
      margin-bottom: 22px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        background: #e0e0e0;
        height: 1px;
        width: 100px;
        bottom: -9px;
        left: 50%;
        margin-left: -50px;
      }
      a {
        color: $color-gray-2;
      }
      .btn {
        color: #fff;
      }
      &:last-child {
        margin-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
    .btn-blue {
      padding: 0 45px;
      margin-top: 32px;
    }
  }
}
.single-price .pricing-list .btn-blue:hover {
  background: $color-pink;
}
/*********** fun-fact-area style **************/
.fun-fact-area {
  background: url(../img/fact-count/bg.png);
  padding: 98px 0;
  .single-fact {
    margin-bottom: 30px;
    h1 {
      font-family: var(--heading-font);
      font-weight: 700;
      font-size: 48px;
      color: #fafafa;
      margin-bottom: 12px;
    }
    h5 {
      font-family: var(--heading-font);
      font-weight: 700;
      font-size: 24px;
      color: $color-white;
      margin-bottom: 14px;
    }
    p {
      font-size: 18px;
      color: #fafafa;
    }
  }
  .btn {
    border: 2px solid #fff;
    border-radius: 0;
    padding: 0 37px;
    margin-top: 11px;
  }
}
/*********** transection-area style **************/
.transection-details {
  background-color: rgb(248, 248, 248);
  padding: 38px;
  h4 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color: rgb(87, 146, 255);
    color: $color-white;
    padding: 17px 0;
    height: 58px;
    margin-bottom: 0;
  }
  .nav-pills {
    background: #fff;
    padding: 29px 0 53px;
    .nav-link {
      height: 58px;
      background-color: rgb(55, 125, 255);
      border-radius: 0;
      padding: 0;
      line-height: 58px;
      text-align: center;
      color: #fff;
      margin-bottom: 9px;
      &.active {
        border-left: 2px solid rgb(8, 57, 150);
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          right: -10px;
          border-left: solid 10px rgb(55, 125, 255);
          border-bottom: solid 10px transparent;
          border-top: solid 10px transparent;
          margin-top: -10px;
        }
      }
    }
  }
  .table-header {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: #fff;
    padding-left: 32px;
    box-shadow: 0px 15px 20px 0px rgba(242, 242, 242, 0.3);
    li {
      font-size: 16px;
      color: rgb(41, 41, 41);
      height: 58px;
      width: 14.28%;
      line-height: 58px;
    }
  }
  .tab-content {
    .tab-pane {
      margin: 0px 0 0 29px;
      .transection-table {
        thead {
          tr {
            background: #fff;
            border: 0;
            box-shadow: 0px 15px 20px 0px rgba(242, 242, 242, 0.3);
            th {
              font-size: 16px;
              color: rgb(41, 41, 41);
              height: 58px;
              line-height: 58px;
              border: 0;
              padding: 0;
              font-weight: 500;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            background: #fff;
            th {
              border: 0;
              padding: 0;
              img {
                background-color: rgb(239, 239, 239);
                border-radius: 50%;
                width: 84px;
                height: 84px;
                margin: 15px 0 15px 20px;
              }
            }
            td {
              border: 0;
              vertical-align: middle;
              color: #001064;
              font-size: 14px;
              font-weight: 400;
              padding: 0;
              .btn {
                color: #377dff;
                box-shadow: 0px 5px 15px 0px rgba(227, 227, 227, 0.47);
                height: 50px;
                padding: 0 36px;
                line-height: 50px;
                border-radius: 30px;
                font-size: 14px;
                font-weight: 400;
                &:hover {
                  background: #377dff;
                  color: #fff;
                  box-shadow: 0px 5px 15px 0px rgba(55, 125, 255, 0.25);
                }
                &.bg-hover-pink:hover {
                  background: $color-pink;
                  color: #fff;
                  box-shadow: 0px 5px 15px 0px rgba(255, 83, 109, 0.25);
                }
              }
            }
            &.table-space {
              background: transparent;
              td {
                height: 7px;
                &.h-30 {
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*********** work-area style **************/
.work-area {
  background: $color-blue;
  margin-bottom: 228px;
  padding-top: 100px;
  .section-title {
    margin-bottom: 119px;
  }
}
/*********** envestor-area style **************/
.envestor-area {
  background: #fdfdfd;
}
.envestor-slider {
  .item {
    margin: 20px 5px 5px 5px;
  }
  .owl-nav {
    text-align: center;
    margin-top: 30px;
    button {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      color: $color-blue-3;
      border: 0;
      background: #f7f7f7;
      color: $color-black;
      transition: $transition;
      cursor: pointer;
      &:hover {
        background: $color-blue-3;
        color: $color-white;
      }
    }
    .owl-prev {
      margin-right: 20px;
    }
  }
}
.single-envestor {
  box-shadow: 0px 0px 10px 0px rgba(204, 204, 204, 0.46);
  padding-bottom: 16px;
  transition: $transition;
  position: relative;
  background: $color-white;
  &:hover {
    box-shadow: 0px 25px 40px 0px rgba(204, 204, 204, 0.46);
    .social-area {
      opacity: 1;
    }
  }
  .name {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: $color-black;
    margin: 25px 0 6px;
  }
  p {
    font-family: var(--heading-font);
    font-size: 16px;
    color: $color-gray-2;
  }
  .social-area {
    position: absolute;
    bottom: 0;
    right: 50px;
    background: $color-white;
    padding: 30px 37px;
    opacity: 0;
    transition: $transition;
    li {
      a {
        font-size: 18px;
        color: $color-blue-3;
        background: #f7f7f7;
        &:hover {
          background: $color-blue-3;
          color: $color-white;
        }
      }
    }
  }
}
.envestor-area-2 .envestor-slider .owl-nav button:hover,
.envestor-area-2 .single-envestor .social-area li a:hover {
  background: $color-pink;
}
/*********** partner-area style **************/
.partner-area {
  background: #f4f4f4;
  padding: 100px 0 165px;
}
.partner-slider {
  .item {
    .thumb {
      padding: 0 20px;
      height: 130px;
      background: $color-white;
      text-align: center;
      img {
        padding-top: 25px;
        width: auto;
      }
    }
  }
  .owl-nav {
    display: none;
  }
}
/*********** sign-up-area style **************/
.sign-up-area {
  background: $color-white;
  padding: 30px;
  margin-top: -70px;
  z-index: 1;
  position: relative;
  .media {
    .media-left {
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      height: 80px;
      width: 80px;
      text-align: center;
      line-height: 80px;
      margin-right: 20px;
      i {
        color: $color-blue-3;
        font-size: 24px;
      }
    }
    .media-body {
      h5 {
        font-size: 24px;
        font-weight: 600;
        color: $color-black;
      }
    }
  }
  form {
    width: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: -30px;
      top: 50%;
      background: #eeeeee;
      height: 76px;
      width: 2px;
      margin-top: -38px;
    }
    .form-group {
      width: 100%;
      margin-bottom: 0;
      .form-control {
        height: 80px;
        border: 1px solid #e6e6e6;
        border-radius: 50px;
        color: #c4c4c4;
        padding: 0 150px 0px 46px;
        background: transparent;
        &::placeholder {
          color: #c4c4c4;
        }
      }
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      color: $color-blue-3;
      font-weight: 500;
      font-size: 16px;
      height: 80px;
      background: $color-white;
      border: 0;
      border-radius: 50px;
      padding: 0 45px;
      cursor: pointer;
      box-shadow: 0px 3px 73px 0px rgba(229, 228, 227, 0.68);
    }
  }
}
.sign-up-area.bg-pink {
  .media .media-body h5 {
    color: $color-white;
  }
  .media .media-left {
    background: $color-white;
    i {
      color: $color-pink;
    }
  }
  form button {
    color: $color-pink;
  }
  form .form-group .form-control {
    color: $color-white;
    &::placeholder {
      color: $color-white;
    }
  }
}
/*********** back-to-top style **************/
.back-to-top {
  display: block;
  position: fixed;
  bottom: 20px;
  cursor: pointer;
  right: 40px;
  background: $color-blue-2;
  height: 50px;
  width: 50px;
  line-height: 53px;
  text-align: center;
  border-radius: 50%;
  z-index: 9;
  transition: $transition;
  &:hover {
    background: $color-blue-3;
  }
  i {
    color: $color-white;
    font-size: 24px;
  }
  &.back-to-top-2 {
    background: $color-pink;
  }
}
